<div class="container">
  <p>Wybierz termin wizyty</p>
  <div class="filters">
    <mat-form-field appearance="fill">
      <mat-label>Lekarz</mat-label>
      <mat-select [(value)]="medic">
        <mat-option *ngFor="let medic of medics" [value]="medic.id">
          {{medic.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Specjalizacja</mat-label>
      <mat-select [(value)]="specialization">
        <mat-option *ngFor="let specialization of specializations" [value]="specialization.id">
          {{specialization.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data wizyty</mat-label>
      <input matInput [matDatepicker]="picker" [value]="date.value">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button color="primary" mat-raised-button style="top: -5px" (click)="search()"
            [disabled]="!(medic && specialization && date.value)">Wyszukaj
    </button>
  </div>

  <table *ngIf="visits.length" mat-table [dataSource]="visits" class="mat-elevation-z8 visits-table">
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Czas</th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} - {{element.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef> Dostępność</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.availability">
          <button color="primary" mat-button (click)="newVisit(element)">Rezerwuj</button>
        </ng-container>
        <ng-container *ngIf="!element.availability">
          Termin zajęty
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
