<p>
  <mat-toolbar color="primary">
    <span>Przychodnia</span>
  </mat-toolbar>
  <mat-toolbar *ngIf="dataService.isLogged">
    <button mat-button routerLink="/new-visit" routerLinkActive="active">Umów wizytę</button>
    <button mat-button routerLink="/visits" routerLinkActive="active">Historia wizyt</button>
  </mat-toolbar>
  <mat-toolbar *ngIf="!dataService.isLogged">
    Logowanie
  </mat-toolbar>
</p>

<router-outlet></router-outlet>

<!-- LOGOWANIE
<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
