<!-- <div class="login">
  <h1>Zaloguj się</h1>
  <form>
    <p><input type="text" name="login" value="" placeholder="Username"></p>
    <p><input type="password" name="password" value="" placeholder="Password"></p>
    <p class="remember_me">
    </p>
    <p (click)="login.emit()" class="submit"><input type="submit" name="commit" value="Login"></p>
  </form>
</div> -->
<div class="login-container">
  <div>
    <p>LOGOWANIE</p>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password">
    </mat-form-field>

    <button color="primary" mat-raised-button (click)="login()">Login</button>
  </div>

</div>
