<div class="login-container">
  <div>
    <p>LOGOWANIE</p>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" [(ngModel)]="password">
    </mat-form-field>

    <button color="primary" mat-raised-button (click)="login()" [disabled]="!(email && password)">Login</button>
  </div>

</div>
