.login-container {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
  border: solid 1px #555;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  padding: 70px;

  border-radius: 15px;
  -moz-border-radius: 15px;
}

.full-width {
  width: 100%;
}


p{
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
  padding-top:0;
}